
body{
    background: lightgrey;
	margin: 0;
}
h1 {
	font-size: 25px;
	margin-left: 0;
	margin-top: 0;
	display: flex;
	justify-content: center;
	background-color: white;
}

.recuadropost{
	background: white;
	height: 300px;
	width: 400px;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 40px;
	margin-bottom: 150px;

}
.encabezado {
	display: flex;
}
.titulo {
	margin-left: 15px;
	margin-right: auto;
	font-weight: bold;
	font-size: 15px;
}
.fecha {
	color: rgb(160, 156, 156);
	margin-right: 15px;
	font-size: 15px;
}
img{
	height: 300px;
	width: 400px;
}
.foto{
	height: 298px;
	width: 398px;
}
.piepagina{  
	background: white;

	display: inline-flex;
	font-size: 15px;
}
.texto{
	margin-left: 15px;
	margin-right: 15px;

}
